:root {
  --background-color-light: #fff;
  --background-color-dark: #121212;
  --text-color-light: #333;
  --text-color-dark: #e0e0e0;
  --card-background-color-light: #fff;
  --card-background-color-dark: #1e1e1e;
  --skill-background-color-light: #00ced1;
  --skill-background-color-dark: #008080;
  --outline-color-light: #fff;
  --outline-color-dark: #000;
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --card-background-color: var(--card-background-color-light);
  --skill-background-color: var(--skill-background-color-light);
  --outline-color: var(--outline-color-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --card-background-color: var(--card-background-color-dark);
  --skill-background-color: var(--skill-background-color-dark);
  --outline-color: var(--outline-color-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    font-size: 90%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 80%;
  }
}
